body{
  background-color: #f6faff;
  color: #6c7686;
  text-align: center;
}

.top-wrapper{
  background-size: cover;
  padding-bottom: 250px;
  opacity: 0.6;
}

h1{color:#02ccba;}

h2{font-size: 16px;}


.link_list li{
  list-style: none;
  padding:20px;
  padding-right: 65px;
}

.footer {
  background-color: #2f5167;
  color:#fff;
  height: 50px;
  padding:0px 40px;
  padding-top: 5px;
  padding-bottom: 30px;

}

.footer-list{
  float:right;
}

.footer-list li{
  list-style: none;
}
